
.navbar{
    /* position: fixed; */
    top:0;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    /* justify-content: space-around; */
    background-color: black;
   
}
.logo{
    /* position: fixed; */
    margin-left: 30px;
    width: 80px;
    }
.nav-icon{
        /* background-color: blanchedalmond; */
        /* display: none; */
        color: blanchedalmond;
        /* color: red; */
        margin-left: 10px;
        font-size: 1.5rem;
}
.nav-opts{
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    
}
.nav-btn{
    /* display: none; */
    color: beige;
    text-decoration: none;
    background-color: black;
    border: none;
    font-size: 1rem;
    width: 100px;

}
.nav-btn:hover{
    background-color: white;
    color: black;
}

.input-btn{
    display: flex;
    justify-content: center;
}
.search-input{
    margin-left:181px ;
    border: none;
    height: 30px;
    width: 300px;
    /* position: fixed; */
    outline: none;
    border-radius: 2px;
}
.search-button{
    margin-left: 7px;
    border: none;
    height: 30px;
    width: 75px;
    
    /* position: fixed; */
}

.pages{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    /* width: 400px; */ 
}

@media screen and (max-width:480px) {
    .logo{
        display: none;
    }
    .nav-opts{
        /* display: block; */
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 10rem;
        width:8rem;
        background-color: black;
        margin-top: 50px;
        margin-left:6px ;
        border-radius: 3px;
        border: 1px solid white;
        /* color: red; */
    }
    .nav-btn{
        width: 8rem;
        height: 3rem;
    }
    .nav-btn:hover{
        background-color: white;
        color: black;
    }
    .nav-icon{
        display: block;
        margin-left:10px;
        color: red;
        font-size: 5rem;
        
    }
    .input-btn{
        margin-left: -100px;
        /* width: 180px; */
    }
    .search-input{
        width: 150px;
    }
    
}
/* @media (max-width:360px) {
    .nav-btn{
        display: none;
    }
    .nav-icon{
        display: block;
        margin-left: 20px;
    }
    .input-btn{
        margin-left: -130px;
    }
    .search-input{
        width: 150px;
    }
    .search-button{
        width: 40px;
        font-size: 12px;
    }
    .logo{
        display: none; */
    /* }
} */
