
.navbar{
    /* position: fixed; */
    top:0;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    /* justify-content: space-around; */
    background-color: black;
   
}
.logo{
    /* position: fixed; */
    margin-left: 30px;
    width: 80px;
    }
.nav-icon{
        /* background-color: blanchedalmond; */
        display: none;
        color: blanchedalmond;
        margin-left: 10px;
        font-size: 1.5rem;
}
.nav-opts{
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    
}
.nav-btn{
    height: 66px;
    margin-top: -16px
}
.nav-btn:hover{
    background-color: white;
    color: black;
}





/* .avatar {
    position: fixed;
    right: 20px;
    width: 30px;
} */



.search-input{
    margin-left:181px ;
    border: none;
    height: 30px;
    width: 300px;
    /* position: fixed; */
    outline: none;
    border-radius: 2px;
}
.search-button{
    margin-left: 7px;
    border: none;
    height: 30px;
    width: 75px;
    
    /* position: fixed; */
}
.nav-btn{
    /* display: none; */
    color: beige;
    text-decoration: none;
    background-color: black;
    border: none;
    font-size: 1rem;
    width: 100px;

}
.pages{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    /* width: 400px; */ 
}
.input-btn{
    display: flex;
    justify-content: center;
}
/* @media (max-width:767px) {
    .nav-btn{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    .input-btn{
        margin-left: -157px;
    }
    .search-input{
        width: 150px;
    }
    .nav .nav-opts.is-active{
        display: block;
    }
}
@media (max-width:360px) {
    .nav-btn{
        display: none;
    }
    .nav-icon{
        display: block;
        margin-left: 20px;
    }
    .input-btn{
        margin-left: -130px;
    }
    .search-input{
        width: 150px;
    }
    .search-button{
        width: 40px;
        font-size: 12px;
    }
    .logo{
        display: none;
    }
} */
