.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    max-height: 750px;
    margin-right: 10px;
    width: 350px;
    height: 400px;
    border-radius: 3px;
    cursor: pointer;
    
    

}
.poster :hover{
    
}
