.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
    display: none;
    
}


.poster{
    max-height: 750px;
    margin-right: 10px;
    padding: 10px;
    height: 300px;
    width: 250px;
    border-radius: 18px;
    cursor: pointer;
    
    

}
.posters :hover{
    transform: scale(1.1);
}
